.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  min-width: 100%;
  max-height: 10%;
}

.title-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 65%;
}

.title-container h1{
margin-left: 10%;
margin-right: 5%;
cursor: pointer;
}

.title-container img{
width: 7%;
}

.nav-container{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 35%;
}

.nav-container img{
margin-right: 15%;
width: 7%;
cursor: pointer;
}

header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}


@media (max-width:667px) {
.nav-container img{
  margin-right: 15%;
  width: 10%;
  cursor: pointer;
}

.title-container img{
  width: 10%;
}
}

@media (max-width: 470px) {
.nav-container img{
  margin-right: 15%;
  width: 15%;
  cursor: pointer;
}

.title-container img{
  width: 15%;
}

.title-container h1{
  margin-left: 10%;
  margin-right: 0%;
  cursor: pointer;
  width: 50%;
}
}

@media (max-width: 400px) {
.nav-container img{
  margin-right: 15%;
  width: 15%;
  cursor: pointer;
}

.title-container img{
  width: 15%;
}

.title-container h1{
  margin-left: 10%;
  margin-right: 2%;
  cursor: pointer;
}
}

@media (max-width: 360px) {
.nav-container img{
  margin-right: 15%;
  width: 20%;
  cursor: pointer;
}

.title-container img{
  width: 20%;
}

.title-container h1{
  margin-left: 10%;
  margin-right: 2%;
  cursor: pointer;
  width: 60%;
}

}

@media (max-width: 300px) {
.nav-container img{
  margin-right: 15%;
  width: 25%;
  cursor: pointer;
}

.title-container img{
  width: 25%;
}

.title-container h1{
  margin-left: 10%;
  margin-right: 2%;
  cursor: pointer;
  width: 70%;
}

}
