<div class="container d-flex justify-content-center align-items-center">
  <section class="card shadow-sm" style="width: 500px; padding: 20px;">
    <h2 class="text-center mb-4">Agregar Palabra y Significado</h2>
    <form (ngSubmit)="validation()">
      <article class="mb-3">
        <label for="word" class="form-label">Palabra</label>
        <input
          type="text"
          class="form-control"
          id="word"
          placeholder="Introduce una palabra"
          [(ngModel)]="word"
          name="word"
          [ngClass]="{'is-invalid': invalid}"
          required
        >
      </article>
      <article class="mb-3">
        <label for="meaning" class="form-label">Significado</label>
        <textarea
          class="form-control"
          id="meaning"
          rows="4"
          placeholder="Introduce el significado de la palabra"
          [(ngModel)]="mean"
          name="mean"
          [ngClass]="{'is-invalid': invalid}"
          required
        ></textarea>
      </article>
      <div class="alert" *ngIf="invalid">
        {{ errorMessage}}
      </div>
      <button type="submit" class="btn btn-primary w-100">Guardar</button>
    </form>
  </section>
</div>
