.input-group {
  max-width: 60%;
  margin: 0 auto;
}

.input-group .form-control {
  border-right: 0;
}

.input-group .btn {
  border-left: 0;
}


@media (max-width: 600px) {
  .container{
    width: 100%;
  }
}
